{{!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Project 2 Event</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input id="username-input" class="form-control mr-sm-2" type="username" placeholder="Username" aria-label="username">
    <input id="password-input" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password">
    <button id="sign-up-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
    <button id="sign-in-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
  </form>
  </div>
</nav> --}} {{!-- For Login --}} {{!-- Project Title, Home, Profile, Username, Password, Login, Create Account --}} {{!--
Already Signed in --}} {{!-- Project Title, Profile, Username --}}

<div class="row no-gutters navBarP2">
  <div class="col-lg-2">
    <div class="projectTitle">Project 2 Event</div>
  </div>
  <div class="col-lg-8">

  </div>
  <div class="col-lg-2">
    <div class="profileName">LOGGED_IN_USER</div>
  </div>

</div>

<div class="row contentRow no-gutters">
  <div class="col-lg-3 sideBars">
    <div id="circle1"></div>
    {{!--
    <div class="recModal"></div> --}}
  </div>
  <div class="col-lg-6">
    <div id="calendar"></div>

    {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> --}}

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          
        </div>
      </div>
    </div>


  </div>
  
    <div class="col-lg-3 sideBars">
    <div id="circle2"></div>
    {{!--
    <div class="addModal"></div> --}}
  </div>
</div>