<div class="row no-gutters">
  <div class="col-lg-12 navBarP2">
      <span class="projectTitle">Project 2 Event</span>
      <span class="profileName">LOGGED_IN_USER</span> 
  </div>


</div>

<div class="row contentRow no-gutters">
  <div class="col-lg-3 sideBars">
    <div id="circle1"></div>
  </div>
  <div class="col-lg-6 centerContent">
    <div id="calendar"></div>

    {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
    --}}

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 sideBars">
    <div id="circle2"></div>
  </div>
</div>