<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Event</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input id="username-input" class="form-control mr-sm-2" type="username" placeholder="Username" aria-label="username">
    <input id="password-input" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password">
    <button id="sign-in-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
  </form>
  </div>
</nav>
<div id="main-content" class="row">
  <div id="main-content-left" class="col-md-2 border border-success"></div>
  <div id="main-content-center" class="col-md-8 border border-primary">
    <div id="calendar">
    </div>
  </div>
  <div id="main-content-right" class="col-md-2 border border-success"></div>
</div>

<!-- Firebase Reference -->
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/auth.js"></script>
{{!-- <script>
  var config = {
  apiKey: "AIzaSyBqTcJJ_3u7P6Mg7RXJRgZlzuJcLd8XnnM",
  authDomain: "projectsounders-52f0a.firebaseapp.com",
  databaseURL: "https://projectsounders-52f0a.firebaseio.com",
  projectId: "projectsounders-52f0a",
  storageBucket: "projectsounders-52f0a.appspot.com",
  messagingSenderId: "488308303654"
};
firebase.initializeApp(config);

var database = firebase.database();

$("#sign-in-btn").on("click", function(event) {
  event.preventDefault();

  // Grabs user input
  var email = $("#username-input").val().trim();
  var password = $("#password-input").val().trim();

  console.log("Before auth");

 firebase.auth().signInWithEmailAndPassword(email, password).then(function(){
  //Success, move to homepage.
  console.log("logged in!")
  window.location.href = 'index2.html';
}).catch(function(error){
  console.log(error.code);
  console.log(error.message);
  alert(error.message);
});
});
</script> --}}
