@import "fullcalendar.css";

body {
//   margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 8vh;;
//   background-color: lightblue;
}

// .navbar {
//     height: 4vh;
// }

.sideBars {
    background-color: lightgray;
    height: 96vh;
}

.row {
    padding: 0;
    margin: 0;
}

.test {
//   background-color: red;
  height: 50px;
}

/* Full Calendar Buttons */
.fc-state-default {
//   background-image: linear-gradient(to bottom, #333, #333);
}

.fc-view-container {
//   background-color: lightblue;
}

.fc-toolbar {
//   background-color: rgba(173, 216, 230, 1);
}
