<a class="navbar-brand" href="#">Project 2 Event</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id="username-display" href="/profile" style="display: none;"></a>
      </li>
    </ul>
    <input id="username-input" class="form-control mr-sm-2" type="username" placeholder="Username" aria-label="username">
    <input id="password-input" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password">
    
    <button id="sign-up-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
    <button id="sign-in-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
    <button id="log-out-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit" style="display: none;">Log Out</button>
  </form>
  </div>